<div class="jumbotron">
	<h1>Games</h1>
	<table id="games">
	<thead>
	  <tr>
		  <th>Name</th>
		  <th>Admin</th>
		  <th># of Players</th>
		  <th>Status</th>
	  </tr>
	</thead>
	<tbody>
	  <% @games.each do |game| %>
	    <tr>
	      <td><%= link_to game.name, game %></td>
		  <td><%= game.admin.name %></td>
		  <td><%= game.players.count %></td>
		  <td><%= game.status %></td>
		</tr>
	  <% end %>
	</tbody>
	</table>
</div>