<li><%= link_to "home",   '/' %></li><div class="center jumbotron">
  <h1>About Assassins</h1>

  <h2>
    Assassins is a live-action game. Players try to eliminate each other from the game using mock weapons in an effort to become the last surviving player. 
  </h2>
  <h2>
    Game hosts (also called umpires or referees) begin by advertising that a game is being set up and instruct potential players to send in their personal details. Once enough players have signed up, the game host assigns targets to the players. A player is usually told the personal details of their target as collected by the game host. The aim of the game is for players to track down and eliminate their targets until only one player remains. When a player eliminates their target, they get the victim's target(s). Only one assassin can kill a target at a time. If only one player remains, the game is over.
  </h2>

</div>