<footer class="footer">
  <small>
    The fun office nerf game
    by <a href="https://linkedin.com/in/longgarrett">Garrett Long</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",  '/about' %></li>
      <li><%= link_to "home",   '/' %></li>
    </ul>
  </nav>
</footer>